<template>
    <el-form ref="form" :model="form" label-width="120px">
    <el-form-item label="Title">
        <el-input v-model="form.title" placeholder="Enter title"></el-input>
    </el-form-item>
    <el-form-item label="Description">
        <el-input
            type="textarea"
            :rows="2"
            placeholder="Enter description"
            v-model="form.description">
        </el-input>
    </el-form-item>
    <el-form-item label="Ranking">
        <el-input v-model="form.ranking" placeholder="Enter ranking value" ></el-input>
    </el-form-item>
    <el-form-item label="Category">
        <el-select v-model="form.category" clearable placeholder="select category">
        <el-option
            v-for="item in categories"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
        <el-button icon="el-icon-circle-plus" circle @click="innerVisible = true"></el-button>
        <el-dialog
            width="30%"
            title="Add a new category"
            :visible.sync="innerVisible"
            append-to-body>
            <el-input v-model="form.newCategory" placeholder="Enter new category name"></el-input>
            <span slot="footer" class="dialog-footer">
            <el-button @click="innerVisible = false">Cancel</el-button>
            <el-button type="primary" @click="addCategory()">Save</el-button>
        </span>
        </el-dialog>
    </el-form-item>
    <el-form-item label="Metadata">
        <el-form :inline="true" :model="form.formInline[index]" :key="index" class="demo-form-inline" v-for="(f, index) in form.formInline">
            <el-form-item>
                <el-input v-model="form.formInline[index].key" placeholder="key"></el-input>
            </el-form-item>
            <el-form-item>
                <el-select v-model="form.formInline[index].type" placeholder="Type">
                    <el-option label="String" value="string"></el-option>
                    <el-option label="Number" value="number"></el-option>
                    <el-option label="Date" value="date"></el-option>
                    <el-option label="Enum" value="enum"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-if="form.formInline[index].type == 'string'">
                <el-input v-model="form.formInline[index].value" placeholder="String value"></el-input>
            </el-form-item>
            <el-form-item v-if="form.formInline[index].type == 'number'">
                <el-input v-model="form.formInline[index].value" placeholder="Numeric value"></el-input>
            </el-form-item>
            <el-form-item v-if="form.formInline[index].type == 'enum'">
                <el-input v-model="form.formInline[index].value" placeholder="Enum value"></el-input>
            </el-form-item>
            <el-date-picker
                v-if="form.formInline[index].type == 'date'"
                v-model="form.formInline[index].value"
                type="date"
                placeholder="Pick a date">
            </el-date-picker>
        </el-form>
        <el-button icon="el-icon-circle-plus" type="primary" @click="addInlineForm()">Add</el-button>
    </el-form-item>
    </el-form>
</template>

<script>
  export default {
    props: ['categories', 'form', 'addCategoryFromParent'],
    data() {
      return {
        innerVisible: false
      }
    },
    methods: {
      addInlineForm(){
          this.form.formInline.push({
            key: '',
            type: '',
            value: '',
          })
      },
      addCategory(){
          this.addCategoryFromParent();
          this.innerVisible = false;
      }
    }
  }
</script>

<style>
.el-input__suffix{
  right: 15px;
}
.el-button.is-circle{
    margin-left: 10px;
}
.el-row {
    margin-top: 20px;
}

.el-input__inner {
    margin-top: 5px;
}
.el-button--primary{
    margin-top: 10px;
}
</style>