<template>
  <el-table
    :data="tableData.filter(data => !search || data.category.name.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Title: {{ props.row.title }}</p>
        <p>Description: {{ props.row.description }}</p>
        <p>Ranking: {{ props.row.ranking }}</p>
        <p>Category: {{ props.row.category.name }}</p>
        <p>Metadata: {{ props.row.metadata }}</p>
        <p>Created At: {{ props.row.created_at }}</p>
        <p>Modified At: {{ props.row.modified_at }}</p>
        <p>Audit Log: {{ props.row.audit_log }}</p>
      </template>
    </el-table-column>
    <el-table-column
      label="Title"
      prop="title">
    </el-table-column>
    <el-table-column
      label="Ranking"
      prop="ranking">
    </el-table-column>
    <el-table-column
      label="Category"
      prop="category.name">
    </el-table-column>
    <el-table-column
      align="right">
      <template slot="header" slot-scope="scope">
        <el-select v-model="search" clearable placeholder="Select">
          <el-option
            v-for="item in categories"
            :key="item.id"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
      </template>
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="primary"
          @click="popEdit(scope.$index, scope.row)">Edit</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    props: ['tableData', 'categories'],
    data() {
      return {
        search: '',
      }
    },
    methods: {
      popEdit(index, row) {
          this.$parent.popEdit(row);
      }
    }
  }
</script>

<style>
.el-input__suffix{
  right: 15px;
}
</style>