<template>
  <div id="app">
    <h1> Your favorite things </h1>
    <List v-bind:table-data="items" v-bind:categories="categories" />
    <el-row>
        <el-button 
            type="success"
            icon="el-icon-plus"
            @click="popAdd()">Add</el-button>
    </el-row>
    <el-dialog
        v-bind:title="modal.title"
        :visible.sync="centerDialogVisible"
        width="60%"
        center>
        <Form v-bind:categories="categories" v-bind:form="form" v-bind:addCategoryFromParent="addCategoryFromParent" />
        <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">Cancel</el-button>
            <el-button v-if="modal.mode == 'add'" type="primary" @click="handleAdd()">Save</el-button>
            <el-button v-if="modal.mode == 'edit'" type="primary" @click="handleUpdate()">Save</el-button>
        </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios';
import List from './components/List.vue'
import Form from './components/Form.vue'

const BACKEND_URL= 'http://localhost:8000'

export default {
  name: 'app',
  components: {
    List,
    Form
  },
  data() {
    return {
      centerDialogVisible: false,
      modal: {
        title: '',
        mode: ''
      },
      items: [],
      categories: [],
      form: {
          title: '',
          category: '',
          newCategory: '',
          metadata: {},
          ranking: '',
          description: '',
          formInline: []
      },
      errored: false,
      loading: true,
    }
  },
  methods: {
    popAdd() {
      this.modal.title = 'Add a favorite item';
      this.modal.mode = 'add';
      this.centerDialogVisible = true;

      // reset form if opened after edit modal
      this.form = {
          title: '',
          category: '',
          newCategory: '',
          metadata: {},
          ranking: '',
          description: '',
          formInline: [{
            key: '',
            type: '',
            value: '',
        }]
      };
    },
    popEdit(row) {
      this.form.id = row.id;
      this.form.title = row.title;
      this.form.description = row.description;
      this.form.ranking = row.ranking;
      this.form.metadata = row.metadata;
      this.form.category = row.category.id;

      // Metadata to forminline
      let it = 0;
      for (let elem in this.form.metadata){
        this.$set(this.form.formInline, it, {
          key: elem,
          type: this.form.metadata[elem].type,
          value: this.form.metadata[elem].value
        })
        it++;
      }

      this.modal.title = 'Edit favorite item';
      this.modal.mode = 'edit';
      this.centerDialogVisible = true;
    },
    handleAdd(){
      // process meta data value
      this.form.formInline.forEach(element => {
        if (element.key !== "" && element.type !== ""){
            this.form.metadata[element.key] = {"type": element.type, "value": element.value}
        }
      });

      if (Object.entries(this.form.metadata).length === 0 && this.form.metadata.constructor === Object){
        this.form.metadata = {}
      }

      let data = {
        title: this.form.title,
        category: this.form.category,
        metadata: this.form.metadata,
        ranking: this.form.ranking,
        description: this.form.description,
      }

      // post request to backend
      axios.post(`${BACKEND_URL}/api/v1/items/`, data)
      .then(response => {
        this.openSuccess();
        this.getList();
        this.getCategories();
      })
      .catch(error => {
        // Error
        if (error.response) {
          this.openError(JSON.stringify(error.response.data));
        } 
      });

      // // close modal
      this.centerDialogVisible = false;
    },
    handleUpdate() {
      let id = this.form.id;

      // process meta data value
      this.form.formInline.forEach(element => {
        if (element.key !== "" && element.type !== ""){
          this.form.metadata[element.key] = {"type": element.type, "value": element.value}
        }
      });

      if (Object.entries(this.form.metadata).length === 0 && this.form.metadata.constructor === Object){
        this.form.metadata = {}
      }

      let data = {
        title: this.form.title,
        category: this.form.category,
        metadata: this.form.metadata,
        ranking: this.form.ranking,
        description: this.form.description,
      }

      // Put request to backend
      axios.put(`${BACKEND_URL}/api/v1/items/${id}/`, data)
      .then(response => {
        this.openSuccess();
        this.getList();
        this.getCategories();
      })
      .catch(error => {
        // Error
        if (error.response) {
          this.openError(JSON.stringify(error.response.data));
        }
      });

      // close modal
      this.centerDialogVisible = false;
    },
    openSuccess() {
      this.$message({
        message: 'Data saved successfully!',
        type: 'success'
      });
    },
    openError(error) {
      this.$message.error(error);
    },
    getList(){
      axios
        .get(`${BACKEND_URL}/api/v1/items`)
        .then(response => {
          this.items = response.data;
        })
        .catch(error => {
          this.errored = true;
        })
    },
    getCategories(){
      axios
        .get(`${BACKEND_URL}/api/v1/categories`)
        .then(response => {
          this.categories = response.data;
        })
        .catch(error => {
          this.errored = true;
        })
    },
    addCategoryFromParent(){
      let category = this.form.newCategory;

      axios.post(`${BACKEND_URL}/api/v1/categories/`, {
          name: category,
      })
      .then(response => {
          this.openSuccess();
          this.getCategories();
      })
      .catch(error => {
        if (error.response) {
          this.openError(JSON.stringify(error.response.data));
        }
      });

      // Close modal
      this.innerVisible = false;
    }
  },
  mounted () {
      this.getCategories();
      this.getList();
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1{
  text-align: center;
}
</style>
